#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 200px;
}

.vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;

  height: 500px;
  width: 800px;
  background-color: #ddd;
}

.button-hold {
  display: inline-block;
  position: fixed;
  top: 600px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}