#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  font-size: 16px;
}

body {
  background-image: url("../img/Project - Drawing 1_1-01.png");
  background-position: 100px -100px;
}

.step {
  margin-bottom: 20px;
}

.vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;

  height: 500px;
  width: 800px;
  background-color: rgba(200, 200, 255, 0.2);
}

.button-hold {
  display: inline-block;
  position: fixed;
  top: 600px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}